.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 2%;
}

.head-container {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
}

.head-logo {
    height: auto;
    width: 28%;
}

div.head-content-left a.large-text {
    width: 20%;
}

div.search-bar-area div.search-button {
    width: 20%;
}

.head-content-left {
    height: 100%;
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: flex-start;
}

.head-content-right {
    height: 100%;
    width: 45%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}

.search-bar-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

input.search-filter {
    padding-left: 5%;
    width: 50%;
    height: 25px;
    background-color: black;
    border-color: lightgray;
    color: lightgray;
    border-radius: 10px;
    outline: none;
}

.search-filter::placeholder{
    color: lightgray;
    border-radius: 10px;
}

.home-container {
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.home-content {
    margin-top: 65px;
    margin-left: 5%;
    margin-right: 5%;
}

a.large-text {
    color: rgb(122, 120, 116);
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
}

text.head-text {
    color: rgb(122, 120, 116);
    font-size: 17px;
    font-weight: bold;
    margin-left: 5%;
}