.login-container {
    background-image: url(../resources/img/background/login-bg.png);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: 'no-repeat';
    background-size: 'cover';
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.login-logo {
    height: 60px;
    width: 160px;
    padding-top: 20px;
    padding-left: 35px;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    padding-bottom: 100px;
}

.login-footer {
    height: 200px;
    background-color: rgba(0,0,0,0.8);
}

.login-form {
    background-color: rgba(0,0,0,0.8);
    width: 33.3%;
    height: 95%;
    border-radius: 5px;
}

.form-content {
    padding: 70px;
}

h1.title {
    color: whitesmoke;
    padding-bottom: 10px;
}

.input-box {
    margin-top: 25px;
}

.input-filter {
    height: 50px;
    width: 95%;
    border-radius: 5px;
    padding-left: 5%;
    border-width: 0px;
    font-size: 16px;
    background-color: rgb(51, 51, 51);
    color: #fff;
}

.input-filter-warn {
    height: 50px;
    width: 95%;
    border-radius: 5px;
    padding-left: 5%;
    border-width: 0px;
    font-size: 16px;
    background-color: rgb(51, 51, 51);
    color: #fff;
    border-bottom: 1px solid #FF7900;
}

.input-filter::placeholder{
    color: rgb(122, 120, 116);
}

.button-wrapper {
    padding-top: 30px;
}

.signin-button {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(229, 9, 19);
    font-size: medium;
    font-weight: bold;
    color: #fff;
    border-width: 0px;
}

.area {
    padding-top: 15px;
    padding-bottom: 15px;
}

text.large-text {
    color: rgb(122, 120, 116);
    font-size: 16px;
    font-weight: bold;
}

text.text {
    color: rgb(122, 120, 116);
    font-size: 14px;
}

a.link-text {
    color: #fff;
}

.checkbox {
    background-color: violet;
}

.warn-text {
    color: #FF7900;
    font-size: 14px;
}

#captcha {
    padding-top: 10px;
}

/* HOME SCREEN */

.head-container {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
}

.head-logo {
    height: 40px;
    width: 90px;
}

.head-content-left {
    height: 100%;
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: flex-start;
}

.head-content-right {
    height: 100%;
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: flex-end;
}

.search-bar-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-filter {
    padding-left: 5%;
    width: 250px;
    height: 30px;
    background-color: black;
    border-color: lightgray;
    color: lightgray;
}

.search-filter::placeholder{
    color: lightgray;
}

.home-container {
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.home-content {
    margin-top: 65px;
    margin-left: 5%;
    margin-right: 5%;
}

a.large-text {
    color: rgb(122, 120, 116);
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
}

text.head-text {
    color: rgb(122, 120, 116);
    font-size: 17px;
    font-weight: bold;
    margin-left: 5px;
}

.each-ver-card {
    width: 200px;
    height: auto;
    border: solid rgb(48,48,48);
    border-width: 1px 1px 1px;
    border-radius: 5px;
}

.vertical-movie-image {
    width: 100%;
    height: 266px;
    position: relative;
}

.horizontal-movie-image {
    width: 266px;
    height: 200px;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    transition-timing-function: ease;
    
}

.horizontal-movie-image:hover {
    width: 345px;
    height: 260px;
    border-width: 5px;
    border: 3px solid whitesmoke;
}

h4.movie-name {
    color: whitesmoke;
    margin: 2px;
}

.card-bottom {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.movie-info {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.movie-text-info {
    color: gray;
    font-size: small;
}

h2.title {
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 20px;
}

.film-list {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: center;
}

.film-list::-webkit-scrollbar {
    display: none;
}
